* {
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

::selection {
    color: rgba(white, 50%) !important;
    background: rgba(black, 5%) !important;
}
