//Some functions
@function set-text-color($color) {
    @if (lightness($color) > 50) {
        @return #191919;
    } @else {
        @return #f0f0f0;
    }
}

//Classes & Utilities
.container {
    width: 80%;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
    margin: 0 0;
}

//Grid System Classes
.row {
    display: flex;
    flex-direction: row;
}
@each $number, $width in $cols {
    .col-#{$number} {
        width: auto;
        padding: 10px;
    }
}

//Text Classes
@each $name, $color in $colors {
    .color-#{$name} {
        color: $color;
    }
}

//Background Classes
@each $name, $color in $colors {
    .bg-#{$name} {
        background-color: $color;
    }
    .bg-transparent-#{$name} {
        background-color: rgba($color, 0.5);
    }
}

//Align Classes
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.centered {
    margin: 0 auto !important;
}

//Font Style
.font-bold {
    font-weight: bold;
}
.font-not-bold {
    font-weight: normal;
}

//Font Size
@each $number, $size in $sizes {
    .size-#{$number} {
        font-size: $size;
    }
}

//Float Classes
.float-right {
    float: right;
}
.float-left {
    float: left;
}

//Padding Classes (py/px)
@each $number, $spacing in $spacings {
    .p-#{$number} {
        padding: $spacing;
    }
}

//Padding Top
@each $number, $spacing in $spacings {
    .py-#{$number} {
        padding-top: $spacing;
    }
}

//Padding Bottom
@each $number, $spacing in $spacings {
    .py-n#{$number} {
        padding-bottom: $spacing;
    }
}

//Padding Left
@each $number, $spacing in $spacings {
    .px-#{$number} {
        padding-left: $spacing;
    }
}

//Padding Right
@each $number, $spacing in $spacings {
    .px-n#{$number} {
        padding-right: $spacing;
    }
}

//Padding Classes (pt/pb/pl/pr)

//Padding Top
@each $number, $spacing in $spacings {
    .pt-#{$number} {
        padding-top: $spacing;
    }
}

//Padding Bottom
@each $number, $spacing in $spacings {
    .pb-#{$number} {
        padding-bottom: $spacing;
    }
}

//Padding Left
@each $number, $spacing in $spacings {
    .pl-#{$number} {
        padding-left: $spacing;
    }
}

//Padding Right
@each $number, $spacing in $spacings {
    .pr-#{$number} {
        padding-right: $spacing;
    }
}

//Margin Classes

//Margin Top (my, mx)
@each $number, $spacing in $spacings {
    .my-#{$number} {
        margin-top: $spacing;
    }
}

//Margin Bottom
@each $number, $spacing in $spacings {
    .my-n#{$number} {
        margin-bottom: $spacing;
    }
}

//Margin Left
@each $number, $spacing in $spacings {
    .mx-#{$number} {
        margin-left: $spacing;
    }
}

//Margin Right
@each $number, $spacing in $spacings {
    .mx-n#{$number} {
        margin-right: $spacing;
    }
}

//Margin Classes(mt/mr/mb/ml)

//Margin Top
@each $number, $spacing in $spacings {
    .mt-#{$number} {
        margin-top: $spacing;
    }
}

//Margin Bottom
@each $number, $spacing in $spacings {
    .mb-#{$number} {
        margin-bottom: $spacing;
    }
}

//Margin Left
@each $number, $spacing in $spacings {
    .ml-#{$number} {
        margin-left: $spacing;
    }
}

//Margin Right
@each $number, $spacing in $spacings {
    .mr-#{$number} {
        margin-right: $spacing;
    }
}

//Border Classes
.border-none {
    border: none;
}

@each $number, $radius in $radiusValues {
    .radius-#{$number} {
        border-radius: $radius;
    }
}

//Display Classes
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.d-inline {
    display: inline;
}
.d-table {
    display: table;
}
.d-table-cell {
    display: table-cell;
}
.d-table-row {
    display: table-row;
}
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}

//Button Classes (There will be more button styles)
.btn-1 {
    color: map-get($colors, "default");
    padding: 7px 10px;
    border: none;
    transition: all 0.3s ease-in-out;
}

//Button Backgrounds
@each $name, $color in $colors {
    .btn-#{$name} {
        background-color: $color;
        color: set-text-color($color);
    }
    .btn-#{$name}:hover {
        background-color: darken($color, 5%);
    }
    .btn-#{$name}:active {
        background-color: darken($color, 10%);
    }
}

//Disabled Class
:disabled {
    opacity: 0.8;
    color: map-get($colors, "disabled");
}

//Firefly Cards & Card Classes
.card {
    width: 100%;
    background-color: map-get($colors, "default");
    box-shadow: 1px 2px 3px rgba(5, 5, 5, 0.5);
    border-radius: 2px;
}
.card-header {
    padding: 5px 0px;
    background-color: darken(map-get($colors, "default"), 10%);
    border-bottom: 1px solid rgba(5, 5, 5, 0.1);
    border-radius: 2px;
}
.card-body {
    background-color: darken(map-get($colors, "default"), 5%);
    border-radius: 2px;
    padding: 10px 0px;
}
.card-footer {
    background-color: darken(map-get($colors, "default"), 10%);
    border-top: 1px solid rgba(5, 5, 5, 0.1);
    border-radius: 2px;
}
.card-text {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: map-get($colors, "dark");
}

//Black Card
.card-dark {
    background-color: map-get($colors, "dark");
    .card-header,
    .card-body,
    .card-footer {
        background-color: map-get($colors, "dark");
    }
    .card-header {
        background-color: darken(map-get($colors, "dark"), 2%);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .card-footer {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        background-color: darken(map-get($colors, "dark"), 5%);
    }
    .card-text {
        color: map-get($colors, "default");
    }
}

//Danger Card
.card-danger {
    background-color: map-get($colors, "danger");
    .card-header,
    .card-body,
    .card-footer {
        background-color: map-get($colors, "danger");
    }
    .card-header {
        background-color: darken(map-get($colors, "danger"), 2%);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .card-footer {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        background-color: darken(map-get($colors, "danger"), 5%);
    }
    .card-text {
        color: map-get($colors, "default");
    }
}

//Warning Card
.card-warning {
    background-color: map-get($colors, "warning");
    .card-header,
    .card-body,
    .card-footer {
        background-color: map-get($colors, "warning");
    }
    .card-header {
        background-color: darken(map-get($colors, "warning"), 4%);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    .card-footer {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        background-color: darken(map-get($colors, "warning"), 8%);
    }
    .card-body {
        background-color: darken(map-get($colors, "warning"), 2%);
    }
    .card-text {
        color: map-get($colors, "muted");
    }
}

//Primary Card
.card-primary {
    background-color: map-get($colors, "primary");
    .card-header,
    .card-body,
    .card-footer {
        background-color: map-get($colors, "primary");
    }
    .card-header {
        background-color: darken(map-get($colors, "primary"), 2%);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    .card-footer {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        background-color: darken(map-get($colors, "primary"), 5%);
    }
    .card-text {
        color: map-get($colors, "default");
    }
}

//Info Card
.card-info {
    background-color: map-get($colors, "info");
    .card-header,
    .card-body,
    .card-footer {
        background-color: map-get($colors, "info");
    }
    .card-header {
        background-color: darken(map-get($colors, "info"), 2%);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    .card-footer {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        background-color: darken(map-get($colors, "info"), 5%);
    }
    .card-text {
        color: map-get($colors, "default");
    }
}

//Success Card
.card-success {
    background-color: map-get($colors, "success");
    .card-header,
    .card-body,
    .card-footer {
        background-color: map-get($colors, "success");
    }
    .card-header {
        background-color: darken(map-get($colors, "success"), 2%);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    .card-footer {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        background-color: darken(map-get($colors, "success"), 5%);
    }
    .card-text {
        color: map-get($colors, "default");
    }
}

//Width Classes
@each $value, $widthSize in $percentageValues {
    .w-#{$value} {
        width: $widthSize;
    }
}

//Height Classes
@each $value, $heightSize in $percentageValues {
    .h-#{$value} {
        height: $heightSize;
    }
}
